<!DOCTYPE html>
<head>
  <meta name="description" content="Rpi Temperature Logger">
  <meta name="author" content="Yong Sheng Chung">
  <title>Google Charts</title>
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- FONT -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <!-- CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ==" crossorigin="anonymous" />
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      // Define the chart to be drawn.
      var data = new google.visualization.DataTable();
      data.addColumn('datetime', 'Time');
      data.addColumn('number', 'Temperature');
      data.addRows([
          {% for row in temp %}
            [new Date({{row[0][0:4]}},{{row[0][5:7]}}-1,{{row[0][8:10]}},{{row[0][11:13]}},{{row[0][14:16]}}),{{'%0.2f'|format(row[1])}}],
          {% endfor %}
        ]);

      var options = {
        width: 800,
        height: 550,
        hAxis: {
          title: "Date",
          gridlines: { count: {{temp_items}}, color: '#CCC' },
          format: 'dd-MMM-yyyy HH:mm' },
        vAxis: {
          title: 'Degrees'
        },
        title: 'Temperature',
        curveType: 'function'  //Makes line curved
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_temps'));

      chart.draw(data, options);
   }
  </script>
</head>
<body>
  <!-- Identify where the chart should be drawn. -->
    <div id="chart_temps" style="400; height: 300; position: centered"></div>
</body>
</html>
